<p>playlist-details works!</p>

<!-- emmet  -->
<!-- dl>(dt{Name:}+dd{Moja playlista})*3 -->

<!-- {{ if else switch for while function class }} -->
<!-- {{ playlist.name.toUpperCase() + '!' }} -->

<dl aria-label="Playlist details" 
    [id]="'playlist_'+playlist.id"
    [title]="playlist.name" 
    [attr.data-id]="playlist.id">

    <dt>Name:</dt>
    <!-- <dd [style.font-size.px]="2*10"  style="color:#ccc;">{{playlist.name}}</dd> -->
    <!-- <dd [ngStyle]="getMyStyles()"  style="color:#ccc;">{{playlist.name}}</dd> -->
    <dd [ngStyle]="{
        'font-size.px':2*10,
        'border-bottom-width.px':2
    }"  style="color:#ccc;">{{playlist.name}}</dd>

    <dt>Public:</dt>
    <!-- <dd [class.publicPlaylist]="playlist.public" 
             [class.privatePlaylist]="!playlist.public">{{playlist.public? 'Yes' :'No' }}</dd> -->
    <!-- <dd [ngClass]="getMyClasses()">{{playlist.public? 'Yes' :'No' }}</dd> -->
    <dd [ngClass]="{
        publicPlaylist: playlist.public,
        privatePlaylist: !playlist.public
    }">{{playlist.public? 'Yes' :'No' }}</dd>

    <dt>Description:</dt>
    <dd>{{playlist.description}} </dd>
</dl>

<button class="btn btn-info" (click)="editClicked()">Edit</button>