
<!-- .row>.col*2 -->
<div class="row">
    <div class="col">
        <app-playlists-list 
            [items]="playlists"
            [selectedId]="selectedPlaylist?.id"
            (selectedIdChange)=" selectPlaylist($event) "></app-playlists-list>
            

        <input type="text" [value]="playlists[0].name" 
                           (change)=" playlists[0].name = $any($event.target).value  ">
    </div>
    <div class="col" *ngIf="selectedPlaylist">
        
        <div *ngIf="mode === 'details'">
            <app-playlist-details [playlist]="selectedPlaylist"
            (edit)="editMode()"></app-playlist-details>
        </div>

        <div *ngIf="mode === 'edit'">
            <app-playlist-edit-form [playlist]="selectedPlaylist"
            (cancel)="cancel()"
            (save)="savePlaylist( $event )"></app-playlist-edit-form>
        </div>
    </div>
    <div class="col" *ngIf="!selectedPlaylist">
        <p class="alert alert-info">Please select playlist</p>
    </div>
</div>